@page { 
    size: auto;   /* auto é o valor padrão */
    margin: 0mm;  /* Remove margens e, consequentemente, cabeçalho/rodapé */
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

:root {
    /* color */
    --color-blue: #003366;
    --color-dark-gray: #303336;
    --color-light-gray: #eef0f3;
    --color-white: #fff;

    --color-divisao: #003366;
    --color-earth: #5e3929;
    --color-emperor: #4b207f;
    --color-ming: #3e8391;
    --color-campfire: #e36520;

    --color-grapevine: #7f264a;
    --color-tree-frog: #448d21;
    --color-cool: #4d7549;
    --color-warm: #ffa92d;
    --color-denim: #2f557f;

    /* font */
    --font-main: "Noto Sans", sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;

    --fs-h1: 50px;
    --fs-h2: 30px;
    --fs-h3: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0% 20%;

    /* decoration */
    color: var(--color-dark-gray);
    /* background-color: var(--color-dark-gray); */
}

#calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 16px 64px;
}

.day-name {
    font: var(--fw-regular) var(--fs-h2) var(--font-main);
}

label {
    font: var(--fw-regular) var(--fs-h3) var(--font-main);
}

input.people {
    /* structure */
    border-style: hidden;
    border-radius: 50px;

    height: 40px;

    /* decoration */
    background-color: var(--color-light-gray);
}
