@page { 
    size: auto;   /* auto é o valor padrão */
    margin: 0mm;  /* Remove margens e, consequentemente, cabeçalho/rodapé */
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

:root {
    /* color */
    --color-blue-7escala: #1E51A1;
    --color-gray-7escala: #707070;
    --color-light-gray-7escala: #D2D2D2;

    --color-blue: #003366;
    --color-dark-gray: #303336;
    --color-light-gray: #eef0f3;
    --color-white: #fff;

    --color-divisao: #003366;
    --color-earth: #5e3929;
    --color-emperor: #4b207f;
    --color-ming: #3e8391;
    --color-campfire: #e36520;
    --color-grapevine: #7f264a;
    --color-tree-frog: #448d21;
    --color-cool: #4d7549;
    --color-warm: #ffa92d;
    --color-denim: #2f557f;

    /* font */
    --fw-bold: 700;
    --fw-regular: 400;
    
    --fs-h1: 50px;
    --fs-h2: 30px;
    --fs-h3: 20px;
    --fs-body: 16px;
    
    --font-main: "Noto Sans", sans-serif;

    /* sctructure */
    --desktop-width: 1024px;
    --tablet-width: 768px;
    --mobile-width: 320px;
}

* {
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

/* 1. Largura da barra */
::-webkit-scrollbar {
  width: 12px;               /* Largura da barra vertical */
  height: 12px;              /* Altura da barra horizontal (se houver) */
}

/* 2. O Fundo da barra (Track) */
::-webkit-scrollbar-track {
  background: var(--color-white);       /* Cor do caminho por onde a barra corre */
  border-radius: 0px;
}

/* 3. O "Puxador" da barra (Thumb) */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-7escala);       /* Cor da parte que você arrasta */
  border-radius: 10px;       /* Deixa as pontas redondinhas */
  border: 1px solid var(--color-white); /* Cria um respiro entre o puxador e a borda */
}

/* 4. Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue-7escala);       /* Escurece levemente no hover */
}

body {
    /* decoration */
    color: var(--color-dark-gray);
    font: var(--fw-regular) var(--fs-body) var(--font-main);
}

header {
    /* structure*/
    display: flex;
    justify-content: center;
    
    width: 100%;

    padding: 32px 0px;

    /* decoration */
    background-color: var(--color-blue-7escala);
}

.header-content {
    /* structure */
    display: flex;
    
    align-content: center;
    
    width: 100%;

    /* decoration */
    color: var(--color-white);

    max-width: var(--mobile-width);
}    

@media (min-width: 768px) {
    .header-content{
        max-width: var(--tablet-width);
    }
}

@media (min-width: 1024px) {
    .header-content{
        max-width: var(--desktop-width);
    }
}

.header-links {
    flex-grow: 1;
    
    justify-items: right;
    align-content: center;
}

.header-links > ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    
    gap: 20px;
}

header .header-links a {
    text-decoration: none;

    color: var(--color-white);
}

header .header-links a:hover {
    text-decoration: underline;

    color: var(--color-light-gray-7escala);
}

main {
    display: flex;

    justify-content: center;
}

.main-content {
    width: 100%;

    margin-top: 50px;
    
    max-width: var(--mobile-width);
}

@media (min-width: 768px) {
    .main-content {
        max-width: var(--tablet-width);
    }
}

@media (min-width: 1024px) {
    .main-content {
        max-width: var(--desktop-width);
    }
}

.cards {
    display: grid;

    grid-template-columns: 1fr;

    gap: 20px;
}

@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

.cards a {
    text-decoration: none;
}

.card-departamento {
    display: flex;

    justify-content: center;

    padding: 32px 64px;
    
    border-radius: 999px;
    
    background-color: var(--color-light-gray-7escala);
    font-size: var(--fs-h3);
    color: var(--color-gray-7escala);
}

.main-content-header {
    color: var(--color-blue-7escala);
    
    margin: 0px 0px 32px 0px;
}

.calendar-day-name {
    display: none;

    font: var(--fw-regular) var(--fs-h2) var(--font-main);
    color: var(--color-gray-7escala);
}

#calendar {
    display: grid;
    grid-template-columns: 1fr;
    
    text-align: center;
    
    gap: 8px 8px;
}

@media (min-width: 768px) {
    #calendar {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .calendar-day-name {
        display: flex;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    #calendar {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .calendar-day-name {
        display: grid;
        text-align: center;
    }
}

.calendar-day {
    display: flex;
    justify-content: left;
    align-items: center;
    
    padding: 8px 32px;
    gap: 16px;
    
    width: 100%;
    overflow: hidden;

    box-sizing: border-box;
    height: 80px;
    border-radius: 32px;
    
    background-color: var(--color-light-gray-7escala);
}

@media (min-width: 1024px) {
    .calendar-day {
        max-width: var(--desktop-width);
    }
}

@media (min-width: 768px) {
    .calendar-day {
        max-width: var(--tablet-width);
    }
}

.calendar-day .date {
    font: var(--fw-bold) var(--fs-h2) var(--font-main);
    color: var(--color-gray-7escala);
}

.calendar-day input.people {
    /* structure */
    border-style: none;
    border-radius: 16px;

    min-height: 40px;
    overflow: hidden;

    padding: 0px 16px;

    /* decoration */
    background-color: var(--color-white);
}

div.people {
    text-align: left;

    font: var(--fw-bold) var(--fs-body) var(--font-main);
    color: var(--color-gray-7escala);
}

div.button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#confirm {
    padding: 16px 32px;
    margin: 32px 0px;
    border-radius: 999px;
    border-style: none;

    background-color: var(--color-blue-7escala);
    color: var(--color-white);
}

#confirm:hover {
    background-color: var(--color-blue);
}
